bin/
obj/
.vs/
*.user
*.suo
*.log
app.db

src/Business.Web/App_Data/DataProtectionKeys/
src/Business.Web/wwwroot/uploads/
src/Business.Web/logs/
artifacts/
BusinessManagement/
*.xlsx
/docs
/src/Business.Web/Properties/PublishProfiles
/NuGet.Config
/src/Business.Web/appsettings.Development.json
